# Stage to run the application as [dev|test|prod]
STAGE=dev

# Port to run API on
API_PORT=4000

# Firbase configs
FIREBASE_DB_URL="https://ses2a-quantum-solver.firebaseio.com"
FIREBASE_WEB_API_KEY="AIzaSyCE_TaEaKZRlCJ4-2LVWIXDzaSG7Oncy30"
FIREBASE_SVC_PATH="../../../key.json"
